:host {
  background-color: #FFF;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  border: 1px solid lightgrey;
  overflow-y: auto;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .search-container {
    cursor: pointer;
    height: 45px;

    svg {
      width: 45px;
      cursor: pointer;
    }

    input {
      border: none;
      border-bottom: 2px solid black;
    }
    button {
      border: none;
      background-color: unset;
      cursor: pointer;
      svg {
        width: 20px;
      }
    }
  }

  .day {
    color: #737373;
    margin-top: 10px;
  }

  .transaction-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    .amount {
      font-weight: bold;
      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }
  }
  .transaction {
    display: flex;
    padding: 8px 0;
    align-items: center;

    .icon {
      width: 60px;
      background: rgb(24,24,24);
      background: linear-gradient(32deg, rgba(24,24,24,1) 0%, rgba(89,92,89,1) 58%, rgba(129,130,129,1) 84%);
      border: 2px solid #737373;
      border-radius: 50%;
      height: 60px;
      display: flex;
      justify-content: center;
      margin-right: 10px;
      svg {
        fill: white;
        width: 35px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      .date {
        color: #737373;
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .hide-transaction {
    display: none;
  }
  .search-only {
    justify-content: flex-end !important;
  }
}