.nav-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid lightgray;
  padding: 8px 0;
  
  background-color: #FFF;

  .container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
  }

  .nav-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    svg {
      height: 25px;
    }

    &.selected {
      fill: #366ab2;
      color: #366ab2;
    }
  }
}